body{
  margin:0;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.125rem;
}

ul{
  margin: 0 0 10px 0;
  list-style: none;
  padding:0;
  color:red;
  font-size: 0.9rem;
}

.conteudo{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  width:100%;
  height: 100vh;
  position: relative;
}

.parte1{
  background:url(/images/bg-main-desktop.png) no-repeat;
  background-size: cover;
}


.cartao-frente{
  position: absolute;
  left: 350px;
  top: 180px;
  color:white;
}

.numero-cartao{
  position: absolute;
  font-size:1.8rem;
  padding-left: 25px;
}

.nome-cartao{
  text-transform: uppercase;
  position: absolute;
  padding-left:25px;
  top:180px;
}

.data-cartao{
  position: absolute;
  padding-right:25px;
  top:180px;
  right:0;
}

.cartao-atras{
  position: absolute;
  left: 400px;
  top: 450px;
}

.cvc-cartao{
  position: absolute;
  right:0;
  top:90px;
  color:white;
  padding-right:50px;
}


.info-cartao{
  align-self: center;
    justify-self: center;
    grid-column: span 2;
    width:400px;
}

label{
  display:block;
  text-transform: uppercase;
  font-size:0.8rem;
}

input{
  width:100%;
  padding:10px;
  box-sizing: border-box;
  margin-bottom:18px;
  border-radius: 8px;
  border:1.5px solid hsl(270, 3%, 87%);
}

input::placeholder{
  color: hsl(270, 3%, 87%);
  font-family: 'Space Grotesk', sans-serif;
  font-size:1rem;
}

.info-data-cvc{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info-data input{
    width: 40%;
}


.enviar{
  display:block;
  width:100%;
  padding:15px;
  background: hsl(278, 68%, 11%);
  color:white;
  border:none;
  border-radius: 8px;
  font-family: 'Space Grotesk', sans-serif;
  margin-top:18px;
  font-size:1.1rem;
  cursor:pointer
}

.enviado{
  text-align: center;
  align-self: center;
  justify-self: center;
  grid-column: span 2;
}

.enviado h2{
  text-transform: uppercase;
  letter-spacing: 5px;
  color:hsl(278, 68%, 11%);
}

.enviado p{
  color: hsl(279, 6%, 55%)
}

@media (max-width: 1600px){

  .cartao-frente{
    left: 210px;
  }

  .cartao-atras{
    left: 290px;
  }
}

@media (max-width: 1450px){

  .cartao-frente{
    left: 150px;
  }

  .cartao-atras{
    left: 210px;
  }
}

@media (max-width: 1300px){
  .cartao-frente{
    left: 70px;
  }

  .cartao-atras{
    left: 100px;
  }
}

@media (max-width: 1300px){

  .cartao-frente{
    left: 40px;
  }

  .cartao-atras{
    left: 70px;
  }

  .frente, .atras{
    width:90%;
  }

  .nome-cartao{
    padding-left:25px;
    top:160px;
  }
  
  .data-cartao{
    padding-right:65px;
    top:160px;
    right:0;
  }

  .cvc-cartao{
    top:80px;
    padding-right:90px;
  }
}

@media (max-width: 1100px){

  .frente, .atras{
    width:80%;
  }
  .cartao-atras{
    top: 400px;
  }

  .nome-cartao{
    padding-left:15px;
    top:140px;
  }

  .numero-cartao{
    padding-left: 15px;
  }

  .data-cartao{
    padding-right:105px;
    top:140px;
    right:0;
  }

  .cvc-cartao{
    top:65px;
    padding-right:130px;
  }
}

@media (max-width: 980px){

  .frente, .atras{
    width:70%;
  }
  .cartao-atras{
    top: 380px;
  }

  .nome-cartao{
    padding-left:15px;
    top:120px;
  }
  .numero-cartao {
    font-size: 1.5rem;
    padding-left: 15px;
  }

  .data-cartao{
    padding-right:145px;
    top:120px;
    right:0;
  }

  .cvc-cartao{
    top:60px;
    padding-right:170px;
  }
}

@media (max-width: 900px){

  .info-cartao{
      width:300px;
  }
 
}

@media (max-width: 920px){
  body{
    font-size: 0.9rem;
  }

  .numero-cartao {
    font-size: 1.3rem;
    padding-left: 15px;
  }

  .info-cartao{
      width:300px;
  }

  .frente, .atras{
    width:60%;
  }

  .nome-cartao{
    top:100px;
  }

  .data-cartao{
    padding-right:195px;
    top:100px;
  }

  .cvc-cartao{
    top:50px;
    padding-right:210px;
  }

  .cartao-atras{
    top: 360px;
  }
 
}

@media (max-width: 850px){
  .conteudo{
    grid-template-columns: 1fr;
    font-size:1.125rem;
  }

  .frente, .atras{
    width:100%;
  }
 
  .cartao-atras {
    top: 20px;
  left:200px;

}
.cartao-frente {
  top: 180px;
  z-index:1;
  left:120px;
}
.cvc-cartao {
  top: 90px;
  padding-right: 50px;
}

.numero-cartao {
    font-size: 1.8rem;
}

.nome-cartao, .data-cartao {
  top: 180px;
}

.data-cartao {
  padding-right: 30px;
}

.info-cartao{
  width:500px;
  align-self: start;
  margin-top:100px;
}

}

@media (max-width: 850px){
  .info-cartao{
    align-self: center;
  }
}

@media (max-width: 700px){

  .cartao-atras {

  left:180px;

}
.cartao-frente {
  left:100px;
}

}

@media (max-width: 600px){

  .cartao-atras {
  left:110px;
}
.cartao-frente {
  left:80px;
}

}

@media (max-width: 520px){

  .cartao-atras {
  left:90px;
}
.cartao-frente {
  left:40px;
}

.info-cartao{
  width:400px;
}

.cvc-cartao {
  top: 70px;
}

}

@media (max-width: 450px){

  .cartao-atras {
  left:90px;
}
.cartao-frente {
  top: 120px;
}

.nome-cartao, .data-cartao {
  top: 120px;
}

.info-cartao{
  width:380px;
  align-self: flex-start;
  margin-top: 80px;

}

.cvc-cartao {
  top: 48px;
  padding-right: 80px;
}
.numero-cartao {
  font-size: 1.6rem;
}

}

@media (max-width: 450px){

.nome-cartao, .data-cartao {
  top: 120px;
}

.info-cartao{
  width:350px;
}

.data-cartao {
  padding-right: 65px;
}

.cvc-cartao {
  top: 42px;
}
.numero-cartao {
  font-size: 1.4rem;
}

}


@media (max-width: 420px){

.cvc-cartao {
  top: 48px;
  padding-right: 70px;
}

}

@media (max-width: 415px){

  .cvc-cartao {
    padding-right: 80px;
  }
  
  }

@media (max-width: 395px){

  .cvc-cartao {
    padding-right: 75px;
    top: 43px;
  }

}

@media (max-width: 380px){


.nome-cartao, .data-cartao {
  top: 110px;
}
.data-cartao {
  padding-right: 65px;
}

.cvc-cartao {
  top: 39px;
  padding-right: 70px;
}
.numero-cartao {
  font-size: 1.4rem;
}

.info-cartao{
  width:320px;
  align-self: center;

}

}

@media (max-width: 380px){
 
.nome-cartao, .data-cartao {
  top: 100px;
}
.cvc-cartao {
  top: 35px;
  padding-right: 65px;
}
}